# Entornos virtuales
.venv/
venv/
env/

# Cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos SQLite local
*.db

# Variables de entorno
.env

# Configuración de editores
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log