body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f8;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

h1 {
    color: #2c3e50;
}

button {
    background: #27ae60;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background: #1e8449;
}
/* ===== ARREGLO VISUAL FORMULARIO SOLICITUD ===== */

input.form-control,
select.form-select {
    background-color: #ffffff !important;
    border: 2px solid #ced4da !important;
    color: #000 !important;
}

input.form-control:focus,
select.form-select:focus {
    border-color: #198754 !important;
    box-shadow: 0 0 0 0.2rem rgba(25, 135, 84, 0.25) !important;
}