{% extends "base.html" %}

{% block title %}Editar Producto{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow p-4">

        <h3 class="mb-3">Editar Producto</h3>

        <form method="POST">

            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" name="nombre" class="form-control" 
                       value="{{ producto.nombre }}" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Precio</label>
                <input type="number" step="0.01" min="0" name="precio" 
                       class="form-control" value="{{ producto.precio }}" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Subsidio (%)</label>
                <input type="number" min="0" name="subsidio" 
                       class="form-control" value="{{ producto.subsidio }}" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Cantidad (Stock)</label>
                <input type="number" min="0" name="cantidad" 
                       class="form-control" value="{{ producto.cantidad }}" required>
            </div>

            <div class="d-flex gap-2">
                <button class="btn btn-success">
                    Actualizar
                </button>

                <a href="{{ url_for('mostrar_inventario') }}" class="btn btn-secondary">
                    Cancelar
                </a>
            </div>

        </form>

    </div>

</div>

{% endblock %}