{% extends "base.html" %}
{% block content %}

<h2>Formulario de Solicitud</h2>

<form method="POST">

<div class="mb-3">
<label>Cédula</label>
<input type="text" name="cedula" class="form-control" required pattern="\d{10}">
</div>

<div class="mb-3">
<label>Rubro</label>
<select name="subvencion" class="form-select" required>
<option value="">Seleccione...</option>
{% for p in productos %}
<option value="{{ p.nombre }}">
{{ p.nombre }} - ${{ p.precio }} - {{ p.subsidio }}%
</option>
{% endfor %}
</select>
</div>

<button class="btn btn-success w-100">Guardar solicitud</button>

</form>

{% endblock %}