{% extends "base.html" %}
{% block content %}

<h2>Panel Administrador</h2>

<table class="table table-bordered table-striped">
<thead class="table-success">
<tr>
<th>ID</th>
<th>Cédula</th>
<th>Rubro</th>
<th>Precio</th>
<th>Subsidio</th>
<th>Paga agricultor</th>
<th>Estado</th>
<th>Acciones</th>
</tr>
</thead>

<tbody>
{% for s in solicitudes %}
<tr>
<td>{{ s.id }}</td>
<td>{{ s.cedula }}</td>
<td>{{ s.producto.nombre }}</td>
<td>${{ s.producto.precio }}</td>
<td>{{ s.producto.subsidio }}%</td>
<td>${{ (s.producto.precio * (1 - s.producto.subsidio/100)) | round(2) }}</td>

<td>
<span class="
{% if s.estado == 'Aprobado' %}text-success fw-bold
{% elif s.estado == 'Rechazado' %}text-danger fw-bold
{% else %}text-warning fw-bold{% endif %}
">
{{ s.estado }}
</span>
</td>

<td>
<a href="{{ url_for('cambiar_estado', id=s.id, nuevo_estado='Aprobado') }}" class="btn btn-success btn-sm">Aprobar</a>
<a href="{{ url_for('cambiar_estado', id=s.id, nuevo_estado='Rechazado') }}" class="btn btn-danger btn-sm">Rechazar</a>
</td>

</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}